* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*     background-color: var(--bg);
 */
    color: var(--normalFontColor)
    
}

:root {
    --bg: #1d102d;
    --normalFontColor: #ffffff;
}

.mainWrapper {
    width: 100%;
    min-height: 100dvh;
    background-color: var(--bg);
    color: var(--normalFontColor);
    overflow-x: hidden;
}