.navBar,
.navBarMobile {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  padding: 10px;
  justify-content: space-between;
  margin-bottom: 10px;
  position: fixed;
  z-index: 200;
  background-color: #4d3c64f6;
}

.logo {
  cursor: pointer;
  font-size: 2rem;
}

.styles.desktopMenu {
}

.navBar ul {
  display: flex;
  width: 70%;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.navBar ul li {
  list-style: none;
  text-decoration: none;
  padding: 5px;
}

.navBar ul li:hover {
}

.link {
  font-size: 1.2rem;
  text-decoration: none;
  cursor: pointer;
  transition: text-decoration 10s linear;
  -webkit-transition: text-decoration 10s linear;
  -moz-transition: text-decoration 10s linear;
  -ms-transition: text-decoration 10s linear;
  -o-transition: text-decoration 10s linear;
}

.link:hover {
  text-decoration: underline;
}

/* mobile navbar */

.navBarMobile {
  position: relative;
}

.hamburger {
  width: 50px;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  cursor: pointer;
}

.hamburger div {
  width: 80%;
  height: 3px;
  background-color: #ffffff;
  transition: transform 0.3s linear, background-color 0.3s linear;
  -webkit-transition: transform 0.3s linear, background-color 0.3s linear;
  -moz-transition: transform 0.3s linear, background-color 0.3s linear;
  -ms-transition: transform 0.3s linear, background-color 0.3s linear;
  -o-transition: transform 0.3s linear, background-color 0.3s linear;
}

.active.hamburger div:nth-of-type(1) {
  transform: translateY(13px) rotate(45deg);
}

.active.hamburger div:nth-of-type(2) {
  background-color: transparent;
}

.active.hamburger div:nth-of-type(3) {
  transform: translateY(-13px) rotate(-45deg);
}

/* Menu Styles */

.menu {
  position: absolute;
  top: 60px;
  left: 101%;
  width: 100%;
  height: 100vh;
  background-color: rgb(20, 70, 220);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  transition: left 0.3s ease-in-out;
}

.showMenu {
  left: 0%;
}

.navBarMobile ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.navBarMobile ul li {
  width: 100%;
  background-color: #4a3663;
  color: white;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
  cursor: pointer;
}

.link {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

/* dropdown Container */

.dropDownContainer {
  position: relative;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropDownTop {
  width: 50px;
  height: 50px;
  /*     z-index: 10;
 */
  cursor: pointer;
  display: flex;
  align-items: center;
}

.dropDownTop img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.dropDownBottom {
  width: 150px;
  top: 100%;
  background-color: white;
  height: auto;
  position: absolute;
  opacity: 0;
  transition: opacity 0.3s linear;
  z-index: -100;
  pointer-events: none;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.langList {
}

.langList li {
  list-style: none;
  display: flex;
  gap: 10px;
  align-items: center;
  cursor: pointer;
  padding: 10px;
}

.langList li span {
  color: black;
}

.langList li img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.openLang {
  opacity: 1;
  pointer-events: all;
}

@media (max-width: 768px) {
  .menu {
    height: 100vh;
  }
}

/*  */

.navBarMobile {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  /*     z-index: 1100;
 */
}

.menu {
  position: fixed;
  top: 60px;
  left: 101%;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  transition: left 0.3s ease-in-out;
  /*     z-index: 1000;
 */
  background-color: #311f47;
}

.showMenu {
  left: 0%;
}

.rightSection {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.navOpacity {
  background-color: #4a3663;
}
@media (max-width: 850px) {
  .navBar ul {
    width: 78%;
  }
}
